.login-container{
    background-color: #8DC6FF;
    grid-column: 5/9;
    grid-row: 3/10;
    border-radius:15px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.field{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-login{
    cursor:pointer;
    text-decoration: none;
    display:inline-block;
    margin: 25px;
    font-size: 1.25em;
    height: 50px;
    width: 175px;
    background: white;
    border: 5px solid white;
    text-align:center;
    border-radius: 75px;
    transition: all 0.2s;
}

.btn-register{
    cursor:pointer;
    text-decoration: none;
    display:inline-block;
    color: black;
    margin: 25px;
    font-size: 1.25em;
    height: 50px;
    width: 175px;
    background: white;
    border: 5px solid white;
    text-align:center;
    border-radius: 75px;
    transition: all 0.2s;
}

.btn-login:active, .btn-register:active{
    border:5px solid white;
    color: white;
    background: black;
}

